<div class="card">
  <div class="card-header">
    <h4>{{title}}</h4>
    <p>{{content}}</p>

    <a href="/dashboard/edit/{{id}}"><button
        class="edit-post-form"
      >edit</button></a>
    <button class="delete-post-btn" data-id={{id}}>delete</button>
  </div>
</div>