  <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">News Feed</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    
                </nav>          
          </div>
          <h1 class="app-title"><i class="fab "></i>The Tech Blog</h1>
      </header>

{{>post-info post}}


<div class = "card">
    <h3 class = "card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
        <label class="card-reader"></label>
        <input id="comment" name="comment-body" class="form-input"/>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{{>comments post.comments}}

<script src="/comment.js"></script>

 {{else}}
<a class="link" href="/login">Login</a>
{{/if}}