 <input id="comment" name="post-title" class="form-input">Title</>
 <input id="comment" name="content" class="form-input"/>
 <button id ="new-post" class="btn"><a class="link">New Post</a></button>

{{#if posts.length}}

<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        {{>dash-postinfo post}}
    {{/each}}
</section>

{{/if}}



<script src ="/add-post.js"></script>
<script src ="/delete-post.js"></script>
<script src ="/edit-post.js"></script>



