  <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">News Feed</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/logout">Logout</a>
                    {{/if}}
                </nav>          
        </div>

        <h1 class="app-title"><i class="fab "></i>The Tech Blog</h1>
    </header>
<h2>Create a Post</h2>

<section id= "Post">
 <input id="comment" name="post-title" class="form-input" placeholder="Title"></input>
 <input id="comment" name="content" class="form-input" placeholder="Whats on your mind?"></input>
 <button id ="new-post" class="btn"><a class="link" href="/dashboard/New">New Post</a></button>
</section>

{{#if posts.length}}
<section>
    <h2>Latest Posts</h2>
    {{#each posts as |post|}}
        {{>dash-postinfo post}}
    {{/each}}
</section>

{{/if}}



<script src ="/add-post.js"></script>
<script src ="/delete-post.js"></script>
<script src ="/edit-post.js"></script>



