<header class="hero">
        <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">News Feed</a>
                    {{#if loggedIn}}
                    <a class="link" href="/login" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
        </div>

        <h1 class="app-title"><i class="fab "></i>The Tech Blog</h1>
    </header>


<article class = "POST">
    {{#each posts as |post|}}
        {{>post-info post}}
    {{/each}}
</article>